.cpcache/
.nrepl-port
.shadow-cljs.pid
target/
node_modules/
.shadow-cljs/
resources/public/treina/js/
config.edn
config.edn.*
!config.edn.template
data/
logs/
.lsp
.clj-kondo/*
!.clj-kondo/config.edn
.env
.envrc
*.db
.DS_Store
.dev-server.lock
